#schedule-view {

	.hero {
		padding-top: 100px;
		background: {
			image: url('/images/site/schedule/hero.jpg');
			size: cover;
			position: center;
		};

		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 500px;
		}

		h1 {
			color: white;
			font-size: 36px;
			line-height: 47px;
			margin: 0;
		}
	}


}