.photos-slider-widget {
	position: relative;

	.photo {
		position: relative;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: white;
			opacity: 0.5;
			content: '';
			transition: 0.1s opacity;
		}
	}

	.tns-controls {
		display: flex;
		justify-content: flex-end;
		z-index: 2;
		left: 0;
		right: 0;
		max-width: 1400px;
		margin: 0 auto;
		pointer-events: none;

		button {
			pointer-events: all;
			padding: 10px;
			background: none;
			border: none;
			display: block;

			img {
				display: block;
			}

			&[data-controls='prev'] {
				transform: rotate(180deg);

			}
		}
	}

	.tns-slide-active + .tns-slide-active:after {
		opacity: 0;
	}

	.tns-slide-active + .tns-slide-active + .tns-slide-active:after {
		opacity: 0.5;
	}
}